h1	{
	color: #538cc6;
	margin: 15px;
}

h2	{
	color: #0086b3;
	margin-left: 15px;
}

#nav {
	border: 3px solid #ff0000;
	border-radius: 10px;
	margin: 20px 5px 5px 20px;
	padding: 10px 10px 10px 10px;
	text-align: left;
}

#nav a {
	text-decoration: none;
	color: #79a6d2;
}

.recomended {
	font-family: "URW Ghotic L";
}