body	{
	background: url(img/12.jpg);
	font-family: "Comis Sans MF";
	text-align: center;
	padding: 100px;
	margin: 10px 30px 10px 30px;
}

h1 {
	font-family: "Bauhaus 93";
	font-weight: 100px;
}

p {
	font-size: 20px;
	text-align: center;
	padding: 0;
}

.footer {
	margin-top: 50px;
	color: #000000;
	text-align: center;
}
